.form{
    position: relative;
}

.prev-btn {
  width: 40px;
  position: absolute;
  top: 8rem;
  left: 5rem;
  border: none;
  background: transparent;
}

.prev-btn img{
  width: 100%;
  object-fit: cover;
}

.next-btn {
  max-width: 520px;
  margin: auto;
  margin-bottom: 4rem;
}

a.next-btn {
  max-width: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .next-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3rem 3rem;
  }

  .prev-btn{
    width: 30px;
    left: 1rem;
    top: 7rem;
  }
}