.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  max-width: 100vw;
  margin: 4rem auto 2rem;
  z-index: 10;
}

.upload h2 {
  text-align: center;
  margin: 0 auto 2rem;
}

.upload_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
  padding: 0 8rem;
  gap: 2rem;
  margin: 0 auto;
}

.upload_div div {
  display: flex;
  width: 313px;
  padding: 32px 22px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
  background-color: white;
  border-radius: 7.867px;
  border: 0.656px solid rgba(102, 102, 102, 0.35);
}

.uploaded-doc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-top: 1rem;
}

.uploaded-doc small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .upload_div {
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
  }
}
