.app_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 0;
}

.result_page {
  margin: 1rem 0;
}

.result-div {
  width: 520px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0 2rem;
  background-color: white;
}

.result-div span {
  display: flex;
  justify-content: space-between;
}

.course_title {
  font-weight: 700;
}

.app_results button{
    margin: 1rem 0;
}

.app_results .underlined{
    text-align: center;
    margin: 1rem 0;
    color:  #db251a;
}

@media screen and (max-width: 768px) {
  .app_results{
    padding: 0 3rem;
  }

  .result-div{
    width: 100%;
  }
}