.navbar-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 150px;
  padding: 0 80px 0 0;
  overflow-y: hidden;
  font-family: "Montserrat", sans-serif;
}

.nav-logo{
  height: 100%;
  object-fit: cover;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img{
  width: 100%;
}

@media screen and (max-width: 470px) {
  .navbar-home{
    padding: 0 30px 0 0;
  }

  .navbar-home{
    height: 100px;
  }
}