.help_form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 520px;
}

.help_form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.help_form div input {
  height: 56px;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  padding: 1rem;
}

.help_form div textarea {
  height: 120px;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  padding: 1rem;
}
