.app_olevel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  max-width: 520px;
  margin: 4rem auto 2rem;
  z-index: 10;
}

.app_olevel h2 {
  text-align: center;
  margin: 0 auto 2rem;
}

.app_olevel .olevel_details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.app_olevel input {
  width: 100%;
  margin-bottom: 1.2rem;
  height: 56px;
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  padding: 1rem;
}
