.signup__main {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  z-index: 2;
  max-width: 500px;
  position: relative;
  padding: 0 0 5rem;
}

.form-title {
  width: 100%;
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
  font-weight: 500;
}

.terms {
  color: #333;
  font-weight: 400;
  font-size: 14px;
  margin-top: 2rem;
}

.sign__up {
  margin: 1rem 0 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.question {
  color: #666;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.login{
  color: #111;
  font-weight: 500;
}

.continue-div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0 0;
}

.continue-div hr{
  width: 33%;
}

.google__btn {
  border-radius: 40px;
  border: 1px solid #333;
  background: #fff;
  height: 56px;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
