.side-nav {
  width: 280px;
  height: 906px;
  flex-shrink: 0;
  background: #f4f4f4;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  z-index: 20;
}

.hamburger-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border: 1px solid red;
  z-index: 10;
  display: none;
}

.side-nav_logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  overflow: hidden;
}

.side-nav_logo img{
  width: 100%;
}

.menu {
  margin: 0 1rem;
}

.menu__list {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  cursor: pointer;
  gap: 0.5rem;
  padding: 12px;
  border-radius: 5px;
}

.menu__list:hover {
  background-color: rgba(219, 37, 26, 0.1);
  color: #db251a;
}

.menu__list:hover svg path {
  fill: #db251a;
}

.active-nav .menu__list {
  background-color: rgba(219, 37, 26, 0.1);
  color: #db251a;
  font-weight: 700;
}

.active-nav .menu__list svg path {
  fill: #db251a;
}

.active {
  text-decoration: none;
  color: #273240;
  font-weight: 700;
}

@media screen and (max-width: 908px) {
  .side-nav {
    display: none;
  }

  .side-nav.open {
    display: block; /* Display side navigation when open on mobile */
  }
}
