.small-btn {
  width: 163px;
  height: 56px;
  padding: 15.5px 0px 16.5px 0px;
  align-items: center;
  border: none;
  border-radius: 13.7px;
  background: #db251a;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.wide-btn {
  width: 100%;
  height: 56px;
  padding: 15.5px 0px 16.5px 0px;
  align-items: center;
  border: none;
  border-radius: 13.7px;
  background: #db251a;
  color: white;
}

.outline{
  width: 100%;
  height: 56px;
  padding: 15.5px 0px 16.5px 0px;
  align-items: center;
  border: 1px solid #db251a;
  border-radius: 13.7px;
  background: white;
  color: #db251a;
  font-weight: 500;
}

.btn:hover {
  cursor: pointer;
}

.underlined {
  text-decoration: underline;
  cursor: pointer;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

.form-nav-logo{
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(102, 102, 102, 0.25);
}

.form-nav-logo img{
  width: 100%;
}

.form-nav-logo img{
  object-fit: contain;
  height: 100%;
  width: 200px;
  position: relative;
  top: 30px;
}

.flags{
  display: flex;

}

.flag-item img{
  width: 20px;
  height: 20px;
  object-fit: contain;
}

@media screen and (max-width: 426px) {
  .wide-btn{
    width: 100%;
  }
}