.circle-background{
    position: fixed;
    height: 100vh;
    min-width: 90vw;
    /* overflow: hidden; */
    z-index: -1;
    /* background-attachment: fixed; */
}

.one{
    position: absolute;
    top: 35%;
    left: -2%;
}

.two{
    position: absolute;
    top: 70%;
    left: 16%;
}

.three{
    position: absolute;
    top: 20%;
    right: 16%;
}

.four{
    position: absolute;
    bottom: 10%;
    right: -9%;
}